@model IEnumerable<cuentasPorCobrar.Models.Prestamo>

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Prestamos</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nuevo Prestamo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Comite
            </th>
            <th>
                Capital
            </th>
            <th>
                Tasa de Interes
            </th>
            <th>
                Tipo de Interes
            </th>

            <th>
                Fecha de Inicio
            </th>
            <th>
                Fecha Final
            </th>

            
            <th>
                Monto Cuota
            </th>
            <th>
                Cantidad Cuotas
            </th>
            <th>
                Periodo Pago
            </th>
            <th>
                Descripción
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdComite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tasa_interes)
            </td>
            <td>
                @Html.DisplayFor(modelItem =>  item.Tipo_interes)
            </td>
            
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_inicio)
                </td>

            
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_final)
                </td>


            <td>
                @Html.DisplayFor(modelItem => item.Monto_cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_cuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Periodo_pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
