@model cuentasPorCobrar.Models.Solicitud

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar</h1>

<h3>¿Estas seguro de Eliminar esta Solicitud?</h3>
<div>
    <h4>Solicitud</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha_solicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha_solicitud)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.clienteId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.clienteId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.estado_solicitud)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado_solicitud)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
