@model IEnumerable<cuentasPorCobrar.Models.Solicitud>

@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Solicitudes</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Nueva Solicitud</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Fecha de Solicitud
            </th>
            <th>
                Monto
            </th>
            <th>
                Cliente
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_solicitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clienteId)
            </td>
            
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id  }) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.Id  }) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>
